<h4>Edição de clientes</h4>
<p>Preencha o formulário para alterar os dados de um cliente.</p>

<div *ngIf="mensagem != ''">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{ mensagem }}</strong>
        <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
    </div>
</div>

<form [formGroup]="formulario" (ngSubmit)="atualizarCliente()">

    <div class="row">
        <div class=" col-sm-6 col-lg-3">
            <label for="nome">Nome do Cliente:</label>
            <input type="text" class="form-control" id="nome" formControlName="nome"/>
            <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
                Por favor, informe o nome do cliente com pelo menos 8 caracteres.
            </div>
        </div>
        <div class=" col-sm-6 col-lg-3">
            <label for="email">Email do Cliente:</label>
            <input type="text" class="form-control" id="email" formControlName="email"/>
            <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
                Por favor, informe um endereço de email válido.
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <label for="cpf">CPF do Cliente:</label>
            <input type="text" class="form-control" id="cpf" formControlName="cpf"/>
            <div class="text-danger" *ngIf="f['cpf'].touched && f['cpf'].invalid">
                Por favor, informe o cpf com exatamente 11 digitos ex: '12345678900'.
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <label for="tel">Telefone do Cliente:</label>
            <input type="text" class="form-control" id="tel" formControlName="telefone"/>
            <div class="text-danger " *ngIf="f['telefone'].touched && f['telefone'].invalid">
                Por favor, informe o telefone com exatamente 11 digitos ex: '21345678900'.
            </div>
        </div>
    </div>

    <div class="mt-3">
        <input type="submit" class="btn btn-primary" value="Salvar Alterações"
        [disabled]="formulario.invalid"/>
    </div>

</form>
